<div class="row about">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/perfil.jpg" alt="perfil image" class="img-fluid profile-picture" />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p class="name-about">Axel Alejandro Morel</p>
      <p class="name-stack">Full Stack Developer</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <h1><span>Acerca de mi</span></h1>
      <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus veniam illo qui numquam minima rem! Earum eaque quod quia, fugiat doloribus et numquam laborum optio similique dolor rem praesentium beatae!</span></p>
  </div>
</div>
