<div class="row education">
    <h1>Educación</h1>
    <div class="col-lg-12">
        <ul>
            <li>
                <h2>Estudio 1</h2> 
                <span> - years</span>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut tempora, sequi laboriosam ipsa sapiente minus corrupti quia repellendus quod saepe reiciendis adipisci distinctio debitis fuga, ea quam pariatur quo voluptates.</p>
            </li>
            <li>
                <h2>Estudio 2</h2> 
                <span> - years</span>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut tempora, sequi laboriosam ipsa sapiente minus corrupti quia repellendus quod saepe reiciendis adipisci distinctio debitis fuga, ea quam pariatur quo voluptates.</p>
            </li>
            <li>
                <h2>Estudio 3</h2> 
                <span> - years</span>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut tempora, sequi laboriosam ipsa sapiente minus corrupti quia repellendus quod saepe reiciendis adipisci distinctio debitis fuga, ea quam pariatur quo voluptates.</p>
            </li>
        </ul>
    </div>
</div>

